<section class="flex justify-center gap-20">
  <img class="size-20" src="public/img/photo-profile.png" alt="photo perfil">
  <article>
    <h1 class="font-mono text-4xl">Hola soy tal</h1>
    <h2>Estudiante de ingenieria en sistemas de informacion y desarrollador web orientado al backend</h2>
  </article>
</section>
