<section class="flex flex-col md:flex-row justify-center items-center gap-20">
  <img class="size-20 " src="public/img/photo-profile.png" alt="photo perfil">
  <article>
    <h1 class="text-4xl my-4 font-bold">Hola, soy tal</h1>
    <p class="text-xl">Estudiante de ingenieria en sistemas de informacion y</p>
    <p class="text-xl"><strong>desarrollador web</strong> especializado en el backend.</p>
  </article>
</section>

<style>
  p strong {
    color: rgba(23, 68, 128, 0.822);
    font-style: italic;
  }
</style>
